<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>

        <!-- 회원 관련 Dto -->
        <typeAlias alias="MemberDto" type="com.matjongchan.app.domain.entity.MemberDto"/>
        <typeAlias alias="MemberReviewsDto" type="com.matjongchan.app.domain.entity.MemberReviewsDto"/>
        <typeAlias alias="MemberImageDto" type="com.matjongchan.app.domain.entity.MemberImageDto"/>
        <typeAlias alias="MemberLoginDto" type="com.matjongchan.app.domain.dto.MemberLoginDto"/>
        <typeAlias alias="SearchCondition" type="com.matjongchan.app.domain.dto.SearchCondition"/>

        <!-- 게시판 관련 Dto -->
        <typeAlias alias="ReviewDto" type="com.matjongchan.app.domain.entity.ReviewDto"/>
        <typeAlias alias="OtherImageDto" type="com.matjongchan.app.domain.entity.OtherImageDto"/>
        <typeAlias alias="ReviewMenuDto" type="com.matjongchan.app.domain.entity.ReviewMenuDto"/>
        <typeAlias alias="ReviewDetailSearchCondition" type="com.matjongchan.app.domain.dto.ReviewDetailSearchCondition"/>
        <typeAlias alias="ReviewDetail" type="com.matjongchan.app.domain.dto.ReviewDetail"/>

        <!-- 찜 기능 관련 Dto -->
        <typeAlias alias="FavoriteDto" type="com.matjongchan.app.domain.entity.FavoriteDto"/>
        <typeAlias alias="FavoriteWithRestaurantDto" type="com.matjongchan.app.domain.dto.FavoriteWithRestaurantDto"/>

        <!-- 식당 관련 Dto -->
        <typeAlias alias="RestaurantDto" type="com.matjongchan.app.domain.entity.RestaurantDto"/>
        <typeAlias alias="MenuDto" type="com.matjongchan.app.domain.entity.MenuDto"/>
        <typeAlias alias="CategoryDto" type="com.matjongchan.app.domain.entity.CategoryDto"/>
        <typeAlias alias="BusinessHoursDto" type="com.matjongchan.app.domain.entity.BusinessHoursDto"/>
        <typeAlias alias="SearchCondition" type="com.matjongchan.app.domain.dto.SearchCondition"/>
        <typeAlias alias="TotalCount" type="com.matjongchan.app.domain.dto.TotalCount"/>
        <typeAlias alias="RestaurantDetail" type="com.matjongchan.app.domain.dto.RestaurantDetail"/>
        <typeAlias alias="MenuDetail" type="com.matjongchan.app.domain.dto.MenuDetail"/>
        <typeAlias alias="RelationRestaurant" type="com.matjongchan.app.domain.dto.RelationRestaurant"/>

        <!-- 아직 구현계획 X -->
        <typeAlias alias="BoardDto" type="com.matjongchan.app.domain.entity.BoardDto"/>
    </typeAliases>
</configuration>