<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">


<mapper namespace="com.matjongchan.app.dao.BoardMapper">

    <!-- 0) count  -->
    <select id="count" resultType="int">
        SELECT count(*) FROM member
    </select>

    <!-- 1) deleteAll-->
    <delete id="deleteAll">
        truncate member
    </delete>
    <!-- 2) insert   -->
    <insert id="insert" parameterType="MemberDto">
        insert into member values(null, #{user_id}, #{password}, #{name}, #{address}, #{email}, #{introduce}, #{phone_number}, now(), #{review_id})
    </insert>
    <!-- 3) selectAll -->
    <select id="selectAll" resultType="MemberDto">
        select * from member
        order by create_at desc, id desc
    </select>
    <!-- 3) - 1 select -->
    <select id="select" parameterType="int" resultType="MemberDto">
        select * from member where id = #{id}
    </select>
    <!-- 4) delete - id로 회원 정보 삭제   -->
    <delete id="delete" parameterType="int">
        delete from member where id = #{id}
    </delete>
    <!-- 5) update - id로 회원 정보 수정  -->
    <update id="update" parameterType="MemberDto">
        update member set
            password = #{password},
            address = #{address},
            email = #{email},
            introduce = #{introduce},
            phone_number = #{phone_number}
        where id = #{id}
    </update>


</mapper>

































