<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">


<mapper namespace="com.matjongchan.app.dao.reviewImageMapper">

    <select id="count" resultType="int">
        SELECT count(*) FROM other_image
    </select>

    <select id="countR" parameterType="int" resultType="int">
        select count(*) from other_image where fk_review_id = #{fk_review_id}
    </select>

    <select id="countRes" parameterType="int" resultType="int">
        select count(*) from other_image where fk_restaurant_id = #{fk_restaurant_id}
    </select>


    <delete id="deleteAll">
        truncate other_image
    </delete>

    <delete id="deleteImage" parameterType="int">
        delete from other_image where fk_review_id=#{fk_review_id}
    </delete>

    <insert id="insert" parameterType="ReviewDto">
        insert into other_image
        (id, name, img_url, order_number, fk_review_id, fk_restaurant_id)
        values
        (#{id}, #{name}, #{img_url}, #{order_number}, #{fk_review_id}, #{fk_restaurant_id})
    </insert>

    <!-- 해당 식당 전체 이미지 조회  -->
    <select id="getRestaurantImages" parameterType="int" resultType="OtherImageDto">
        SELECT *
        FROM other_image as oi
        WHERE #{id} = oi.fk_restaurant_id
    </select>

    <select id="getRestaurantImagesUrl" parameterType="int" resultType="String">
        SELECT img_url
        FROM other_image
        WHERE fk_restaurant_id = #{fk_restaurant_id}
    </select>

    <!-- 해당 리뷰 전체 이미지 조회  -->
    <select id="getReviewImages" parameterType="int" resultType="String">
        SELECT img_url
        FROM other_image
        WHERE fk_review_id = #{fk_review_id}
    </select>

    <!-- 해당 식당 이미지 2개 조회  -->
    <select id="getRestaurantImages2" parameterType="S" resultType="OtherImageDto">
        SELECT *
        FROM other_image
        WHERE fk_restaurant_id = #{id}
        LIMIT #{offset},#{page_size}
    </select>

<!--
        SELECT *
        FROM other_image
        WHERE fk_restaurant_id = #{id}
        LIMIT 1,2

-->

</mapper>
