<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">



<mapper namespace="com.matjongchan.app.dao.reviewMenuMapper">

    <select id="count" resultType="int">
        SELECT count(*) FROM review_menu
    </select>

    <!--  해당 리뷰의 선택 메뉴 개수  -->
    <select id="countR" parameterType="int" resultType="int">
        select count(*) from  review_menu where fk_review_id = #{fk_review_id}
    </select>

    <delete id="deleteAll">
        truncate review_menu
    </delete>

    <delete id="delete" parameterType="reviewMenuDto">
<!--        delete from review_menu where id=#{id}-->
        delete from review_menu where fk_review_id=#{fk_review_id}
    </delete>

    <insert id="insert" parameterType="ReviewMenuDto">
        insert into  review_menu
        (id, fk_review_id,fk_menu_id)
        values
        (#{id}, #{fk_review_id},#{fk_menu_id})
    </insert>

    <select id="selectAll" resultType="ReviewMenuDto">
        select * from  review_menu
        order by id desc
    </select>

    <!--  해당 리뷰의 선택 메뉴들 불러오기  -->
    <select id="selectR" parameterType="int" resultType="ReviewMenuDto">
        select * from  review_menu
        where fk_review_id = #{fk_review_id}
        order by id desc
    </select>


    <select id="selectName" parameterType="int" resultType="String">
        select name from review_menu as rm
        LEFT JOIN menu AS m
        ON rm.fk_menu_id = m.id
        where fk_review_id = #{fk_review_id}
    </select>



    <!-- 해당 리뷰에 해당하는 이미지 테이블 정보 전부 가져오기.-->
    <select id="selectReviewImage" parameterType="int" resultType="OtherImageDto">
        SELECT  oi.name as name,
                oi.img_url as url,
                oi.order_number as order_number,
                oi.fk_review_id as fk_review_id
        FROM other_image as oi
            INNER JOIN review as re
                on oi.fk_review_id = re.id
            WHERE oi.fk_review_id = #{id}
            ORDER BY oi.order_number
    </select>



</mapper>